page-stars {
    .pic{
        width: 7rem;
        height: 14rem;
        margin:0 auto;
        text-align: center;
        padding-top:1rem; 
    }
    .juzhong{
        margin:0 auto;
        text-align: center;
    }
    .lst{
        margin-top:5rem;
    }
    .btn-{
        width: 15rem;
        height: 3rem;
        border-radius: 5px;
        background-color: red; 
    }
    .tuichu{
        width: 100%;
        height: 5rem;
        margin:0 auto;
        margin-top: 1.5rem;
        text-align: center;
    }
}
