page-model {
    ion-content{
        width: 100%;
        height:40%;
        margin-top:90%;
        transition: 5s;
    }
    .juzhonga{
        margin: 0 auto; 
        text-align: center;
    }
    .shijiankuang{
       margin-top: 3rem;
    }
    .btnq{
        width: 7rem;
        height: 3rem;
        border-radius: 10px; 
    }
    .woi{
        margin-top: 2rem;
    }
}
