page-home {
    .homlist{
        border-bottom: 1px solid #ada4a4;
        margin-top: 10px;
    }
    .julibutton{
        color:	#ffffff;
        height: 1.8rem;
        width: 5rem;
        border-radius: 5px;
        background-color: 	#3CB371;
        margin-left:10rem;

    }
    .xiangqing{
        width: 5rem;
        height: 2rem;
        background-color: #ffffff;
        border-radius: 5px;
        border: 2px solid #1E90FF;
        font-size: 1rem;
    }
        
   
}
